.super-mario {
    width: 200px;
    display: block;
    
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 50px;

    
  }
  
  .baloon {
    position: absolute;
    top: 200px;
    left: 200px;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 240px;
    left: 230px;
    z-index: 99;

  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 500px;
  }